body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



/*HEADER*/

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
   
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
.container_edit{
    margin:2rem;
}
.container > a{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
